<!DOCTYPE html>
<html lang="cs-cz" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pojištění Pechy32 - logout</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="container">
    <img id="logo-login" th:src="@{/pechy32_logo.png}" alt="pechy32 insurance-application logo">

    <div>
        Odhlášení proběhlo úspěšně.
    </div>

    <br>
    <br>

    <a href="/insurance-app/login">Zpět na přihlašovací stránku</a>

</div>

<footer>
    &copyPechy32 2024
</footer>

</body>
</html>